{
  "swagger": "2.0",
  "info": {
    "title": "Authentication status service",
    "description": "Api to verify logged in status",
    "termsOfService": "Uitsluitend voor intern gebruik door de Gemeente Amsterdam",
    "contact": {
      "name": "Datapunt Support",
      "url": "https://mijn.amsterdam.nl/",
      "email": "datapunt@amsterdam.nl"
    },
    "version": "1.0.0"
  },
  "host": "mijn.amsterdam.nl",
  "basePath": "/auth",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/check": {
      "get": {
        "description": "Toon of gebruiker authenticated is, soort gebruiker en tot wanneer de sessie (minimaal) geldig is.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/check"
            }
          }
        }
      }
    },
    "/status/health": {
      "get": {
        "description": "Health check to see if server is up.",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/health"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "check": {
      "type": "object",
      "required": [
        "isAuthenticated"
      ],
      "properties": {
        "isAuthenticated": {
          "type": "boolean"
        },
        "userType": {
          "type": "string",
          "enum": [
            "BURGER",
            "BEDRIJF"
          ]
        },
        "validUntil": {
          "type": "integer",
          "description": "unix timestamp in milliseconds."
        }
      }
    },
    "health": {
      "type": "string",
      "enum": [
        "OK"
      ]
    }
  }
}
